body{
  margin:5px 10px;
}
header{
  background-color: rgb(249, 243, 239);
  border-spacing:0;
}
header img{
  display: block;
  margin: 0 auto;
}
header h1{
  text-align:center;
  font-size: 150%;
  padding:10px;
}

nav ul{
  list-style: none;
  background-color: rgb(235, 194, 168);
  text-align:center;
  padding:0;
  margin:0;
}
nav li{
  width:18%;
  border-right:dashed 2px rgb(250, 134, 12);
  height:50px;
  line-height: 50px;
  font-size:110%;
  display: inline-block;
  margin-right: -4px;
}
nav > ul > li > a{
  padding-left:0;
}

nav li:last-child{
  border-right:none;
}

nav li li{
  border-right:none;
  width:100%;
  text-align: left;
  font-size: 100%;
}

nav a{
  text-decoration: none;
  color:#fff;
  display:block;
  padding-left:15px;
  transition-property: color,background-color;
  transition-duration: 0.5s;
}

nav a:hover{
  background-color:#fff;
  color:#000;
}

nav li ul{
  position:absolute;
  width:inherit;
  display:none;
}

nav li:hover ul{
  display:block;
}

nav li ul li{
  display:block;
}
/*now for the table*/
table caption{
  text-align: center;
  font-size:80%;
}
table{
  width:70%;
  /*display:block;*/
  margin:0 auto;
  border-spacing: 0;
}
th{
  background-color: rgb(227, 227, 227);
}
tr:nth-child(even){
  background-color: rgb(238, 238, 238);
}
td:nth-child(1){
  width:40%;
}
td:nth-child(2){
  width:20%;
  text-align: center;
}
td:nth-child(3){
  width:40%;
  text-align: center;
}
.backtoTop {
  text-align:right;
}
.backtoTop > a{
  color:black;
}
/*for the footer*/
footer{
  background-color: rgb(249, 243, 239);
}
footer{
  height:80px;
}
footer p{
  float:left;
  line-height: 80px;
  padding:0;
  margin:0;
}
footer img{
  float:right;
}
